<div class="profile-forms">
  <form class="delete-user" action="/users/{{userInfo.id}}/delete" method="POST">
    <input type="submit" name="delete" value="Delete">
  </form>
  <form class="logout-user" action="/users/{{userInfo.id}}/logout" method="get">
    <input type="submit" name="logout" value="Logout">
  </form>
</div>

<div class="events">
  <form class="event-search" action="/search" method="GET">
    <input type="submit" name="search" value="Search For Events">
  </form>
  <form class="even-create" action="/newEvent" method="GET">
    <input type="submit" name="create" value="Create New Event">
  </form>
</div>


<div class="events-upcoming">
  <h3>Upcoming Events</h3>
    {{#isFuture events}}
      <div class="individual-event"></div>
      {{/isFuture}}
</div>
<div class="events-past">
  <h3>Past Events</h3>
  {{#isPast events}}
    <div class="individual-event"></div>
  {{/isPast}}
</div>
<div class="events-host">
  <h3>My Hosted Events</h3>
  {{#each myEvents}}
      <div class="individual-event">
        <div class="event-title"><h5>{{this.title}}</h5></div>
        <div class="event-date"><p>Date:{{this.date}}</p></div>
        <div class="event-time"><p>Time:{{this.time}}</p></div>
      </div>
  {{/each}}
</div>
